.favorite-card-container {
  color: var(--primary-color);
  text-align: center;
}

.favorite-card-container img {
  border-radius: 10px;
  background-color: var(--primary-color);
  width: 230px;
  height: 345px;
  margin-bottom: 20px;
}

.favorite-card-container div button {
  margin-bottom: 20px;
  background: var(--gradient-button);
  border: none;   
  padding: 10px;
  width: 50%;
  color: var(--primary-color);
  font-size: 20px;
  border-radius: 4px;
}

.favorite-card-container h4 {
  font-size: 1.5rem;
}
