.login-container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}

.button-login{
    background: var(--gradient-button);
    border: none;   
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 20px;
    border-radius: 4px;
}

label{
    font-size: 20px;
}

input {
    border-radius: 4px;
    background: rgb(49, 52, 62);
    border: none;
    padding: 15px;
    backdrop-filter: blur(50px);
    color: var(--primary-color);
}

h5{
    font-size: 15px;
}

.link-register{
    text-decoration: none;
    color: rgb(5, 140, 202)
}
