.movie-card-container{
    color: var(--primary-color);
    text-align: center;
}

.movie-card-container h4{
    font-size: 20px;
}

.movie-card-container img{
    border-radius: 10px;
    width: 130px;
    height: 245px;
}
/*width 230px heigth 245px desk*/

.movie-card-container h4{
    margin-top: 10px;
}