.movie-details-container {
  color: var(--primary-color);
  text-align: center;
  margin-top: 80px;
}

.img-path {
  border-radius: 10px;
  background-color: var(--primary-color);
  width: 330px;
  height: 445px;
  margin-bottom: 20px;
}

.movie-details-container div button {
  margin-bottom: 20px;
  background: var(--gradient-button);
  border: none;   
  padding: 10px;
  width: 50%;
  color: var(--primary-color);
  font-size: 20px;
  border-radius: 4px;
}

.title-details {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
  0 0 20px rgba(1,180,228, 1), 0 0 30px rgba(1,180,228, 1),
  0 0 40px rgba(1,180,228, 1), 0 0 55px rgba(1,180,228, 1),
  0 0 75px rgba(1,180,228, 1);
}

.icon-favorites {
  width: 30px;
  height: 30px;
}


.movie-details-container p {
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}
