.navbar{
    background-color: var(--secundary-color);
}

.navbar-text{
    font-size: 16px;
}

.style-navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.logo{
    width: 150px;
    height: 50px;
    white-space: nowrap;
}

.search{
    width: 30px;
    height: 30px;
    background-color:rgb(193 181 181 / 30%);
    border-radius: 50%;
    padding: 4px;
    color: var(--primary-color);
    margin-right: 4px;
}

.profile{
    width: 30px;
    height: 30px;
    background-color: rgb(193 181 181 / 30%);
    border-radius: 50%;
    padding: 4px;
    color: var(--primary-color);
}

