.search-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.search-container input {
  background: linear-gradient(
    1.5708rad,
    rgb(117, 62, 239) 25%,
    rgb(185, 8, 246) 100%
  );
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.input-search::placeholder {
  color: white;
}
