.search-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.search-container input {
  background: var(--gradient-button);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.input-search::placeholder {
  color: white;
}
