.search-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.search-container h1{
  color: var(--primary-color);
  margin-bottom: 15px;
}


.search-container input {
  border-radius: 4px;
    background: rgb(49, 52, 62);
    border: none;
    padding: 15px;
    backdrop-filter: blur(50px);  
    color: var(--primary-color);
    width: 100%;
    margin-bottom: 20px;
}

.input-search::placeholder {
  color: white;
}
