h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 80px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgb(117, 62, 239), 0 0 30px rgb(117, 62, 239),
      0 0 40px rgb(117, 62, 239), 0 0 55px rgb(117, 62, 239),
      0 0 75px rgb(117, 62, 239);
  }